@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');
        body {
            font-family: 'Inter', sans-serif;
            background-color: #f7fafc;
        }
        .large-input {
            padding: 0.75rem;
            font-size: 1rem;
            border-radius: 0.5rem;
        }
        .large-button {
            padding: 1rem 1.5rem;
            font-size: 1.125rem;
            font-weight: 600;
            border-radius: 0.75rem;
            transition: all 0.2s;
        }
        #no-history-message-container {
            background-color: #f3f4ff;
            border-left: 4px solid #8b5cf6;
        }
        nav button {
            font-size: 0.9rem;
            white-space: nowrap;
        }

        @media (min-width: 640px) {
            nav button {
                font-size: 1.125rem;
            }
        }

        #no-debt-message-container {
            background-color: #fff5f5;
            border-left: 4px solid #f56565;
        }